@use '../sass/colors' as *;

.footer {
	position: relative;
	width: 100%;
	min-height: 85px;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__box-content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4em 0;
		border-bottom: 1px solid rgba($color: $eag-white, $alpha: 0.1);
		width: 100%;
	}

	&__content-logo {
		display: flex;
		justify-content: flex-start;
		width: 20%;

		& img {
			width: 150px;
			height: 50px;
		}
	}

	&__content-menu {
		width: 60%;
	}

	&__menu-items {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.6em;
	}

	&__menu-item {
		list-style: none;

		& a {
			padding: 0.6em 1.2em;
			font-size: 1.4rem;
			color: $eag-white;
			border-radius: 8px;

			& i {
				font-size: 2.2rem;
			}
		}
	}

	&__menu-item:first-child {
		& a {
			background-color: $eag-blue;
		}
	}
	&__menu-item:last-child {
		& i {
			padding: 0.4em;
			background-color: $eag-red;
			border-radius: 8px;
		}
	}

	&__content-socials {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1em;
		width: 20%;

		& i {
			padding: 0.4em;
			font-size: 2.8rem;
			background: rgb(36, 36, 36);
			background: linear-gradient(180deg, rgba(36, 36, 36, 1) 5%, rgba(36, 36, 36, 0) 100%);
			color: $eag-red;
			border-radius: 8px;
		}
	}

	&__box-foot {
		display: flex;
		justify-content: space-between;
        align-items: center;
		padding: 4em 0;
		width: 100%;

		& a {
			color: $eag-white;
			text-decoration: none;
		}
	}

	&__foot-data {
        display: flex;
        align-items: center;
		font-size: 1.4rem;
        gap: 1.2em;

        & i {
            padding-right: 0.3em;
            font-size: 2rem;
            vertical-align: middle;
            color: $eag-red;
        }
	}

	&__foot-link {
		font-size: 1.4rem;
		color: $eag-white;

        & a {
            color: $eag-red;
        }
	}
}
