@use '../sass/colors' as *;

@mixin queries {
	@media (max-width: 1300px) {
		.questions {
			&__accordeon-box-content {
				& i {
					font-size: 2.4rem;
				}
			}
			&__accordeon-btn {
				margin-left: 1em;
			}
		}
	}

	@media (max-width: 1200px) {
		.header {
			&__title {
				& h1 {
					font-size: 4rem;
				}

				& span {
					font-size: 1.4rem;
				}
			}

			&__btn {
				font-size: 1.4rem;
			}
		}
		.showreel {
			&__instagram-span {
				font-size: 1.8rem;
			}
			&__instagram-btn {
				padding: 0.4em 1.6em;
				font-size: 1.6rem;
				& i {
					font-size: 3rem;
				}
			}
		}

		.questions {
			&__box {
				margin: 3em 2em 6em;
			}

			&__title {
				margin: 3em;

				& h2 {
					font-size: 4.6rem;
				}
			}

			&__accordeon-box-content {
				margin-top: 2em;

				& i {
					font-size: 2rem;
				}

				& span {
					font-size: 1.6rem;
				}
			}

			&__accordeon-btn {
				margin-left: 0.5em;
				font-size: 2rem;
			}
		}
		.about-us {
			&__content-title {
				& h2 {
					font-size: 7.6rem;
				}
			}

			&__span-box {
				& span {
					font-size: 3rem;
				}
				& span:last-child {
					font-size: 2rem;
				}
			}

			&__content-text {
				& p {
					font-size: 1.4rem;
				}
			}

			&__img {
				width: 50%;
			}
		}
	}

	@media (max-width: 992px) {
		.header {
			height: calc(100vw * (720 / 1220));

			&__title {
				& h1 {
					font-size: 3.6rem;
				}
			}
		}
		.offer {
			&__title-text {
				& h2 {
					font-size: 6.6rem;
				}

				& span {
					font-size: 3.2rem;
				}
			}
			&__title-span {
				& span {
					font-size: 2.8rem;
				}
			}
			&__content-text {
				padding: 4rem;
			}

			&__icons-box {
				& i {
					margin-bottom: 0.3em;
					font-size: 5rem;
				}
			}

			&__content-details {
				padding: 5rem 4rem;
			}
			&__gradient-bar {
				height: 6em;
			}
		}

		.news {
			&__box {
				padding: 3em 1em;
			}

			&__title {
				& h2 {
					font-size: 6.6rem;
				}
			}

			&__gradient {
				height: 6em;
			}
		}

		.showreel {
			&__title {
				& h2 {
					font-size: 6.6rem;
				}
			}
			&__gallery-img-box {
				display: none;
			}

			&__carousel-mobile {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 3em -1.5em;

				& i {
					position: relative;
					top: 50%;
					padding: 0.1em 0.5em;
					font-size: 2rem;
					text-align: center;
					line-height: 2em;
					background-color: $eag-red;
					color: $eag-white;
					transition: background-color 0.3s;
					border-radius: 50%;
					cursor: pointer;
					z-index: 2;
				}

				& i:first-child {
					left: 3em;
				}
				& i:last-child {
					right: 3em;
				}

				& i:hover {
					background-color: $eag-red;
				}
				// & i.noactvie {
				// 	opacity: 0;
				// 	pointer-events: none;
				// }
				// & i.actvie {
				// 	opacity: 1;
				// 	pointer-events: visible;
				// }
			}
			&__carousel-box-mobile {
				position: relative;
				font-size: 0px;
				white-space: nowrap;
				scroll-behavior: smooth;

				& img {
					position: absolute;
					top: 0;
					left: 0;
					height: auto;
					width: 100%;
					object-fit: cover;
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
					transition-delay: 0.3;
				}

				& img[data-active] {
					position: relative;
					top: 0;
					left: 0;
					opacity: 1;
					transition-delay: 0;
					z-index: 1;
				}
			}

			&__gradient-bar {
				height: 6em;
			}
		}

		.questions {
			&__box {
				margin: 3em 2em 4em;
			}

			&__title {
				margin: 3em;

				& h2 {
					font-size: 3.6rem;
				}
			}

			&__accordeon-box-content {
				margin-top: 2em;

				& i {
					font-size: 1.8rem;
				}

				& span {
					font-size: 1.4rem;
				}
			}
		}

		.about-us {
			&__box {
				padding: 7em 3em 5em;
				align-items: flex-end;
			}

			&__content-title {
				& h2 {
					font-size: 6.6rem;
				}
			}

			&__span-box {
				& span {
					font-size: 3.2rem;
				}
				& span:last-child {
					font-size: 2rem;
				}
			}

			&__content-text {
				margin: 3em 2em 1em 0;
				& p {
					font-size: 1.4rem;
				}
			}

			&__img {
				& img {
					max-height: 600px;
				}
			}
			&__gradient-bar {
				top: -2em;
				height: 4em;
			}
		}

		.why-us {
			&__box {
				margin: 0 1em;
			}

			&__title {
				margin: 3em 1em 0 0;
				& h2 {
					font-size: 4rem;
				}

				& span {
					font-size: 2.6rem;
				}
			}

			&__content {
				flex-direction: column;
			}

			&__content-items {
				display: flex;
				flex: 100%;

				& p {
					font-size: 1.6rem;
				}
			}

			&__content-item {
				padding: 3em 1em 2em;
				width: 50%;

				& i {
					font-size: 2.4rem;
				}
			}
		}

		.contact {
			&__title {
				& h2 {
					font-size: 4.6rem;
				}

				& span {
					font-size: 2.4rem;
				}
			}

			&__form {
				margin-top: 3em;
			}

			&__form-row {
				gap: 1em;
				margin: 0 2em;
			}

			&__form-row-item {
				padding: 1em;
				max-width: none;
			}

			&__form-checkbox {
				margin: 2em 2em 0;
				padding: 1em;
				max-height: 280px;
				max-width: none;
				width: auto;
			}

			&__form-checkbox-row {
				margin-bottom: 1em;
			}

			&__form-checkbox-item {
				margin-bottom: 3em;
				width: 100%;
			}

			&__form-budget {
				margin: 2em 2em 0;
				max-width: none;
				width: auto;
			}
			&__form-msg {
				margin: 4em 2em 0;
				padding: 1em;
				max-width: none;
				width: auto;
			}

			&__form-attachments {
				margin: 4em 2em 0;
				padding: 1em;
				max-width: none;
				width: auto;
			}

			&__form-btns {
				margin: 2em auto;
			}

			&__gradient {
				height: 6em;
			}
			&__gradient {
				height: 6em;
			}
		}
	}
	@media (max-width: 892px) {
		.offer {
			&__content-icons {
				flex-wrap: wrap;
				gap: 8em;
			}
		}
	}
	@media (max-width: 769px) {
		section {
			scroll-margin-top: 65px;
		}
		.header {
			scroll-margin-top: 0;
			top: 65px;

			&__head {
				height: calc(100% - 65px);
			}

			&__title {
				& h1 {
					font-size: 2.6rem;
				}
			}
			&__items {
				display: none;
			}
		}
		.offer {
			&__title-text {
				& h2 {
					font-size: 6rem;
				}
				& span {
					font-size: 3.2rem;
				}
				& p {
					font-size: 1.4rem;
				}

				& i {
					font-size: 2.6rem;
				}
			}
			&__title-span {
				& span {
					font-size: 2.4rem;
				}
			}
			&__content-section {
				scroll-margin-top: 65px;
			}
			&__content-text {
				padding: 2rem 3rem 3rem;
			}
			&__content-details {
				padding: 2rem 3rem 3rem;
			}
		}

		.news {
			&__title {
				& h2 {
					font-size: 6rem;
				}
			}

			&__content-text {
				width: 90%;

				& span {
					font-size: 1.8rem;
				}

				& li {
					font-size: 1.8rem;
				}
			}
		}

		.showreel {
			&__carousel-mobile {
				& i {
					padding: 0.1em 0.5em;
					font-size: 1.8rem;
				}
			}
		}

		.questions {
			&__accordeon-box {
				gap: 3em;
				flex: 100%;
			}

			&__accordeon-box:last-child {
				display: none;
			}
		}
		.about-us {
			&__box {
				display: block;
				position: relative;

				padding: 3em 2em;
			}

			&__content {
				position: relative;
				z-index: 1;
				width: 100%;
			}

			&__content-title {
				text-align: end;
				& h2 {
					font-size: 7rem;
				}
			}

			&__span-box {
				& span {
					font-size: 2.6rem;
				}

				& span:last-child {
					font-size: 1.8rem;
				}
			}

			&__content-text {
				margin: 3em 0 2em;

				& p {
					font-size: 1.6rem;
				}
			}

			&__img {
				position: absolute;
				top: 0;
				left: 0;
				margin: 0 auto;
				width: 100%;

				& img {
					max-height: 839px;
				}
			}
		}

		.why-us {
			&__box {
				margin: 0 1em;
			}

			&__title {
				& h2 {
					font-size: 4rem;
				}

				& span {
					font-size: 2.6rem;
				}
			}

			&__content {
				flex-wrap: wrap;
				flex-direction: row;
			}

			&__content-items {
				flex-direction: column;
				flex: 100%;

				& p {
					font-size: 1.6rem;
				}
			}

			&__content-item {
				padding: 3em 1em 2em;
				width: 100%;

				& i {
					font-size: 2.4rem;
				}
			}
		}

		.contact {
			&__title {
				& h2 {
					font-size: 4rem;
				}

				& span {
					font-size: 2.2rem;
				}
			}
			&__form-row {
				margin: 0 1em;
			}

			&__form-checkbox {
				margin: 2em 1em 0;
			}

			&__form-checkbox-row {
				flex-direction: column;
				margin-bottom: 0;
			}

			&__form-budget {
				margin: 2em 1em 0;
			}

			&__form-msg {
				margin: 4em 1em 0;
			}

			&__form-attachments {
				margin: 4em 1em 0;
			}
		}
	}
	@media (max-width: 751px) {
		.offer {
			&__content-icons {
				gap: 3em;
			}
		}
	}
	@media (max-width: 669px) {
		.header {
			height: 70vw;
		}

		.questions {
			&__box {
				margin: 2em 4em 4em;
			}

			&__title {
				& h2 {
					font-size: 3.6rem;
				}
			}

			&__box-lists {
				gap: 1em;
			}

			&__accordeon-box {
				gap: 1em;
			}

			&__accordeon-box-content {
				& i {
					font-size: 1.8rem;
				}
			}
			&__accordeon-btn {
				margin-left: 0.5em;
			}
		}
	}
	@media (max-width: 651px) {
		.offer {
			&__content-icons {
				gap: 5em;
				margin: 0 4em;
			}
		}
		.contact {
			&__attachments-btn {
				width: 35%;
			}
			&__attachments-label {
				width: 65%;
			}
		}
	}

	@media (max-width: 568px) {
		.header {
			height: 100vw;

			&__title {
				& h1 {
					font-size: 2rem;
				}

				& span {
					font-size: 1.2rem;
				}
			}

			&__btn {
				font-size: 1.2rem;
			}
		}
		.offer {
			&__title-section {
				margin: 4em 0 0;
			}
			&__title-text {
				& h2 {
					font-size: 4rem;
				}
				& span {
					font-size: 2.2rem;
				}
				& p {
					font-size: 1.2rem;
				}

				& i {
					font-size: 2rem;
				}
			}
			&__title-span {
				& span {
					font-size: 1.6rem;
				}
			}

			&__content-text {
				font-size: 1.2rem;
			}

			&__content-icons {
				margin: 0 1em;
				gap: 6em;
			}

			&__icons-box {
				& span {
					font-size: 1.8rem;
				}

				& i {
					font-size: 4rem;
				}
			}
			&__content-details {
				& h3 {
					font-size: 1.6rem;
				}
			}

			&__content-item {
				font-size: 1.2rem;
			}

			&__gradient-bar {
				height: 4em;
			}
		}
		.news {
			&__title {
				& h2 {
					font-size: 5rem;
				}
			}

			&__content-text {
				width: 90%;

				& span {
					font-size: 1.6rem;
				}

				& li {
					font-size: 1.6rem;
				}
			}
			&__gradient {
				height: 4em;
			}
		}

		.showreel {
			&__title-box {
				& h2 {
					font-size: 5rem;
				}
				& i {
					font-size: 2.2rem;
				}

				& span {
					font-size: 1.6rem;
				}
			}
			&__carousel-mobile {
				& i {
					padding: 0.1em 0.5em;
					font-size: 1.6rem;
				}
			}

			&__gradient-bar {
				height: 4em;
			}

			&__instagram-box {
				margin: 4em 0 5em;
				gap: 2em;
			}

			&__instagram-span {
				font-size: 1.4rem;
			}
			&__instagram-btn {
				padding: 0.4em 1.6em;
				font-size: 1.4rem;
				& i {
					font-size: 2.4rem;
				}
			}
		}

		.questions {
			background-position: 65%;

			&__title {
				margin: 2em 2.6em;
			}

			&__accordeon-box-content {
				& span {
					font-size: 1.4rem;
				}
			}

			&__accordeon-btn {
				font-size: 2.4rem;
			}

			&__accordeon-info {
				max-width: 340px;
			}
			&__accordeon-info-text {
				margin-bottom: 1em;
			}
		}
		.about-us {
			&__content-title {
				& h2 {
					font-size: 5rem;
				}
			}

			&__span-box {
				& span {
					font-size: 2.4rem;
				}

				& span:last-child {
					font-size: 1.6rem;
				}
			}

			&__content-text {
				& p {
					font-size: 1.4rem;
				}
			}

			&__gradient-bar {
				top: -1.5em;
				height: 3em;
			}
		}

		.why-us {
			&__title {
				& h2 {
					font-size: 3.8rem;
				}

				& span {
					font-size: 2.4rem;
				}
			}

			&__content-items {
				& p {
					font-size: 1.4rem;
				}
			}

			&__content-item {
				& i {
					font-size: 2.2rem;
				}
			}
		}

		.contact {
			&__form {
				& label {
					font-size: 1.4rem;
				}
			}
			&__title {
				& h2 {
					font-size: 3.6rem;
				}

				& span {
					font-size: 2rem;
				}
			}
			&__budget-box {
				padding: 1em 0.8em;

				& span {
					font-size: 1.2rem;
				}

				& input {
					font-size: 1.2rem;
				}
			}
			&__form-attachments {
				max-height: 330px;
			}

			&__attachments-box{
				flex-direction: column;
				align-items: center;
			}
			&__attachments-label {
				margin: .5em 0;
				width: 100%;
				text-align: center;
				
			}
			&__attachments-btn{
				margin: 1em 0;
				padding: 1em 1em;
				width: 50%;
			}

			&__gradient {
				height: 4em;
			}
		}
	}

	@media (max-width: 450px) {
		.news {
			&__title {
				& h2 {
					font-size: 4rem;
				}
			}

			&__content-text {
				& span {
					font-size: 1.4rem;
				}

				& li {
					font-size: 1.5rem;
				}
			}
		}

		.showreel {
			&__title-box {
				& h2 {
					font-size: 4rem;
				}
				& i {
					font-size: 2rem;
				}

				& span {
					font-size: 1.4rem;
				}
			}
			&__instagram-box {
				display: flex;
				flex-direction: column;
				margin: 2em 0 3em;

			}
		}
		.questions {
			&__box {
				margin: 2em 1em 3em;
			}

			&__accordeon-box-content {
				& i {
					margin-right: 0.3em;
					font-size: 1.6rem;
				}
			}

			&__accordeon-btn {
				margin-left: 0.3em;
				font-size: 1.9rem;
			}
		}

		.about-us {
			&__content-title {
				& h2 {
					font-size: 5rem;
				}
			}

			&__span-box {
				& span {
					font-size: 2rem;
				}

				& span:last-child {
					font-size: 1.4rem;
				}
			}

			&__content-text {
				& p {
					font-size: 1.2rem;
				}
			}
		}

		.why-us {
			&__title {
				& h2 {
					font-size: 3rem;
				}

				& span {
					font-size: 2rem;
				}
			}

			&__content-item {
				& i {
					font-size: 2rem;
				}

				& p {
					font-size: 1.4rem;
				}
			}
		}

		.contact {
			&__title {
				& h2 {
					font-size: 3rem;
				}

				& span {
					font-size: 1.8rem;
				}
			}

			&__form-row {
				flex-direction: column;
			}

			&__form-budget {
				padding: 1em;
			}

			&__form-btn {
				display: block;
				margin: 2em auto;
				width: 100%;
			}

		}
	}
	@media (max-width: 396px) {
		.offer {
			&__content-icons {
				margin: 0 1em;
			}

			&__icons-box {
				flex-basis: 100%;
			}
		}
	}
	@media (max-width: 378px) {
		.header {
			&__title {
				& h1 {
					font-size: 2rem;
				}

				& span {
					font-size: 1.2rem;
				}
			}
			&__items {
				display: none;
			}

			&__btn {
				font-size: 1.2rem;
			}
		}

		.showreel {
			&__title-box {
				& h2 {
					font-size: 3rem;
				}
				& span {
					margin-bottom: -1em;
				}
			}
			&__carousel-mobile {
				& i {
					padding: 0.1em 0.5em;
					font-size: 1.2rem;
				}
			}
		}

		.questions {
			&__title {
				& h2 {
					font-size: 2.4rem;
				}
			}

			&__accordeon-box-content {
				& span {
					font-size: 1.2rem;
				}
			}

			&__accordeon-info {
				max-width: 320px;
			}
		}

		.contact {
			&__budget-box {
				padding: 0.8em 0.4em;

				& span {
					font-size: 1.2rem;
				}

				& input {
					font-size: 1.2rem;
				}
			}
		}
	}
}
