@use '../sass/colors' as *;

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 85px;
	background-color: $eag-black;
	z-index: 10;

	&__navbar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 85px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		width: 15%;

		& img {
			width: 150px;
			height: 50px;
		}
	}

	&__menu {
		width: 70%;
	}

	&__menu-items {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__menu-item {
		margin: 0 0.2em;
		font-size: 1.6rem;
		font-weight: 400;
		list-style: none;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 0.4s, color 0.4s;

		& a {
			display: block;
			padding: 0.6em 1.5em;
			text-transform: uppercase;
			color: $eag-white;
			transition: background-color 0.4s, color 0.4s;
		}
	}

	&__menu-item:hover {
		background: $eag-white;

		& a {
			color: $eag-black;
		}
	}
	&__menu-item:first-child {
		background-color: $eag-blue;
		transition: background-color 0.4s, color 0.4s;
	}
	&__menu-item:first-child:hover {
		background-color: $eag-white;

		& a {
			color: $eag-black;
		}
	}

	&__mobile-menu-btns {
		display: none;
	}

	&__mobile-menu-btn {
		display: block;
		padding: 0.4em;
		font-size: 2.6rem;
		background-color: $eag-blue;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;

		&--close {
			position: absolute;
			background-color: $eag-white;
			color: $eag-black;
			opacity: 0;
			pointer-events: none;
		}
	}

	&__mobile-menu-btn:hover {
		background-color: $eag-white;
		color: $eag-black;
	}

	&__more-btns {
		display: flex;
		justify-content: center;
		width: 15%;
		height: auto;
	}

	&__more-lang-btn {
		padding: 0.4em;
		font-size: 2.6rem;
		background-color: $eag-red;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;
	}

	&__more-lang-btn:hover {
		color: $eag-black;
		background-color: $eag-white;
	}

	&__lang-list {
		position: absolute;
		top: 85px;
		right: 0;
		transform: translateY(-150%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50vh;
		width: 20%;
		background-color: rgba($eag-black, $alpha: 0.8);
		opacity: 0;
		transition: transform 0.4s, opacity 0.4s;
		transition-delay: opacity 0.4s;
		z-index: -2;
	}

	&__lang-btn {
		margin: 1em 0;
		padding: 1em 2em;
		width: 60%;
		background-color: $eag-blue;
		color: $eag-white;
		border: none;
		border-radius: 5px;
		font-size: 1.4rem;
		text-transform: uppercase;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;
	}

	&__lang-btn:hover {
		background-color: transparent;
	}

	.active-lang {
		transform: translateY(0);
		opacity: 1;
	}

	
}

// .shadow {
// 	background-color: rgba($eag-black, $alpha: .9);
// }

@media (max-width: 1200px) {
	.nav {
		&__logo {
			margin-left: 1em;
		}
		&__menu-item {
			& a {
				padding: 0.6em 1em;
			}
		}

		&__lang-list {
			width: 25%;
		}
	}
}

@media(max-width: 1150px) {
.nav {
	&__menu-item {
		font-size: 1.4rem;

		& a {
			 padding: 0.6em 0.5em;

		}
	}
}

}

@media (max-width: 992px) {
	.nav {
		&__logo {
			justify-content: flex-start;
			width: 80%;
		}
		&__menu {
			position: absolute;
			top: 85px;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba($eag-black, $alpha: 0.9);
			transform: translateX(-100%);
			transition: transform 0.4s ease-in-out;
		}

		&__menu-items {
			flex-direction: column;
			justify-content: space-evenly;
			height: calc(100% - 85px);
		}


		&__mobile-menu-btns {
			display: flex;
			justify-content: flex-end;
			width: 10%;
		}

		&__more-btns {
			width: 10%;
		}

		&__lang-list {
			width: 32%;
		}
	}

	.active {
		transform: translateX(0);
	}

	.show-btn {
		opacity: 1;
		pointer-events: all;
	}
	.hide-btn {
		opacity: 0;
		pointer-events: none;
	}
}
@media (max-width: 769px) {
	.nav {
		max-height: 65px;

		&__menu {
			top: 65px;
		}

		&__menu-items {
			height: calc(100% - 65px);
		}

		&__navbar {
			height: 65px;
		}
		&__logo {

			& img {
				width: 130px;
				height: 35px;
			}
		}

		&__mobile-menu-btn {
			font-size: 1.8rem;
		}
		&__more-lang-btn {
			font-size: 1.8rem;
		}
		&__lang-list {
			top: 65px;
			width: 35%;
		}
	}
}
@media (max-width: 700px) {
	.nav {
		&__more-btns {
			margin-right: 0.5em;
		}

		&__lang-list {
			width: 42%;
		}
	}
}

@media (max-width: 568px) {
	.nav {
		

		&__lang-list {
			width: 52%;
		}

		&__lang-btn {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 458px) {
	.nav {
		&__logo {
			width: 70%;
		}
	
		&__mobile-menu-btns{
			width: 15%;
		}
		&__more-btns {
			width: 15%;
		}
		&__lang-list {
			width: 62%;
		}
	}
}
@media (max-width: 378px) {
	.nav {
	

		&__lang-list {
			width: 75%;
		}

		
	}
}
