@use '../sass/colors' as *;

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 85px;
	background-color: $eag-black;
	z-index: 10;

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 85px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		width: 15%;

		& img {
			width: 150px;
			height: 50px;
		}
	}

	&__menu {
		width: 70%;
	}

	&__menu-items {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__menu-item {
		margin: 0 0.2em;
		font-size: 1.6rem;
		font-weight: 400;
		list-style: none;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 0.4s, color 0.4s;

		& a {
			display: block;
			padding: 0.6em 1.5em;
			text-transform: uppercase;
			color: $eag-white;
			transition: background-color 0.4s, color 0.4s;
		}
	}

	&__menu-item:hover {
		background: $eag-white;

		& a {
			color: $eag-black;
		}
	}
	&__menu-item:first-child {
		background-color: $eag-blue;
		transition: background-color 0.4s, color 0.4s;
	}
	&__menu-item:first-child:hover {
		background-color: $eag-white;

		& a {
			color: $eag-black;
		}
	}

	&__mobile-menu-btns {
		display: none;
	}

	&__mobile-menu-btn {
		display: block;
		padding: 0.4em;
		font-size: 2.6rem;
		background-color: $eag-blue;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;

		&--close {
			position: absolute;
			background-color: $eag-white;
			color: $eag-black;
			opacity: 0;
			pointer-events: none;
		}
	}

	&__mobile-menu-btn:hover {
		background-color: $eag-white;
		color: $eag-black;
	}

	&__more-btns {
		display: flex;
		justify-content: center;
		width: 15%;
		height: auto;
	}

	&__more-lang-btn {
		padding: 0.4em;
		font-size: 2.6rem;
		background-color: $eag-red;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;
	}

	&__more-lang-btn:hover {
		color: $eag-black;
		background-color: $eag-white;
	}
}

// .shadow {
// 	background-color: rgba($eag-black, $alpha: .9);
// }



@media (max-width: 1200px) {
	.nav {


		&__menu-item {
			& a {
				padding: 0.6em 1em;
			}
		}

	}
}

@media (max-width: 992px) {
	.nav {
		&__logo {
			margin-left: 2em;
			justify-content: start;
			width: 85%;
		}
		&__menu {
			position: absolute;
			top: 85px;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $eag-white;
			transform: translateX(-100%);
			transition: transform 0.4s ease-in-out;
		}

		&__menu-items {
			flex-direction: column;
			justify-content: space-evenly;
			height: calc(100% - 85px);
		}

		&__menu-item {
			& a {
				color: $eag-black;
			}
		}

		&__menu-item:first-child {
			& a {
				color: $eag-white;
			}
		}

		&__mobile-menu-btns {
			display: flex;
			justify-content: center;
			width: 5%;
		}

		&__more-btns {
			width: 10%;
		}
	}

	.active {
		transform: translateX(0);
	}

	.show-btn {
		opacity: 1;
		pointer-events: all;
	}
	.hide-btn {
		opacity: 0;
		pointer-events: none;
	}
}
@media(max-width: 769px) {
	.nav{
		&__logo{
			width: 80%;
		}

		&__mobile-menu-btns{
			width: 10%;
		}
	}
}

@media( max-width: 568px) {
	.nav {

		&__logo {
			width: 80%;
		
			& img {
				width: 130px;
				height: 40px;
			}
		}

		&__mobile-menu-btns {
			width: 10%;
		}
		&__mobile-menu-btn {
			font-size: 2.2rem;
		}
		&__more-btns{
			width: 10%;
		}
		&__more-lang-btn {
			font-size: 2.2rem;
		}
	}
}
@media( max-width: 458px) {
	.nav {
		&__logo {
			width: 76%;
		}
		&__mobile-menu-btns {
			width: 12%;
		}
		&__more-btns{
			width: 12%;
		}
	}
}
@media( max-width: 378px) {
	.nav {
		&__logo {
			width: 70%;
		}
		&__mobile-menu-btns {
			width: 15%;
		}
		&__more-btns{
			width: 15%;
		}
	}
}
